.img-container {
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
}



.dog-photo {
  width: 95%;
  margin: auto;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (min-width: 960px) {
  .img-container {
    flex-direction: row;
    flex-wrap: wrap;

  }

  .dog-photo {
    width: 300px;
    height: 300px;
    flex-grow: 1;
  }
}